h1 {text-align:center; margin-left:20 px;color:#871000; font: bold 24pt "Helvetica"}
h2 {text-align:center; margin-left:20 px; color:black; font: 10pt "Verdana"}
h3 {text-align:center; color:black; margin-top:50 px; font: bold 12pt "Georgia"}
h4 {text-align:left;color:black; font: bold 12pt "Arial"}
h5 {text-align:left; color:#453954; font: bold 10pt "Arial"}




            /* unvisited link */
            a:link {
                color: #941414;
				vertical-align:middle;
                text-decoration:none;
            }

            /* visited link */
            a:visited {
                color: #941414;
				vertical-align:middle;
                text-decoration:none;
            }

            /* mouse over link */
            a:hover {
				color: #9b9b9b;
				text-decoration:none;
            }

			p {white-space: nowrap}
p.small {
    line-height: 0.5;
}
p.big {
    line-height: 2;
}

.main {
    width: 600;
    margin: 5px;
}

.text {
	text-align:center; 
	width:50;
	color:#941414; 
	background-color:#fdfdfd;
	font: bold 12pt "Georgia"
}

.text2 {
	text-align:center; 
	width:52;
	color:#941414; 
	background-color:#fdfdfd;
	font: bold 10pt "Georgia"
}


.text3 {
	text-align:left; 
	color:#941414; 
	vertical-align:middle;
	font: 9pt "Lucida Console";
	font-stretch: "ultra-condensed";
	
}

.text4 {
	text-align:center; 
	color:#941414; 
	vertical-align:middle;
	font: 9pt "Lucida Console";
	font-stretch: "ultra-condensed";
	
}

.text5 {
	text-align:center; 
	color:#921414; 
	vertical-align:middle;
	font: 9pt "Arial";
	font-stretch: "ultra-condensed";
	
}


.main .screenshot {
    float: left;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.main .text{
font-size: 140%;
}

.container {	
	margin: 0 0 20px 0;
	width:800;
	margin-left:auto;
	margin-right:auto;
	background: #fff;
		
	}
	
#floated{
    float: center;
    margin: 10px;
    background: #fff;
}

#minitabs {
	margin-left: auto;
    margin-right:auto;
    text-align:center;
	width:800;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #941414;
    border-top: 1px solid #941414;
  
	}

#minitabs li {
	margin-left: auto;
    margin-right:auto;
	padding:0;
	display:inline;
	padding-left:0;
	padding-right:0;
	list-style-type: none;
	}
	
#minitabs a:link, #minitabs a:visited {
	float: left;
	font-size: 15px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 40px 4px 40px;
	padding-bottom: 2px;
	text-decoration: none;
	color: #941414;
	}

/*#minitabs a.active:link, #minitabs a.active:visited, #minitabs a:hover {
	border-bottom: 4px solid #2C5C89;
	padding-bottom: 2px;
	background: #fff;
	color: #941414;
	}*/


