H1 {text-align:left; margin-left:20 px;color:black; font: bold 24pt "Arial"}
H2 {text-align:left; margin-left:20 px; color:grey; font: 10pt "Verdana"}
H3 {text-align:center;color:black; font: bold 12pt "Georgia"}
H4 {text-align:left;color:black; font: bold 12pt "Arial"}
H5 {text-align:left;color:#453954; font: normal 11pt "Arial"}

